#dataTables-example_filter label, .dataTables_filter label{
	float: right;
}

#dataTables-example_paginate ul.pagination, .dataTables_paginate ul.pagination{
	float: right;
}

label.error{
	color:red;
}

.change_cursor_style:hover{
	cursor: n-resize;
}

.order_structure .item img{
	height: 60px;
	width: 60px;
}

.order_structure .item .message{
	margin-left: 68px;
}


.slider_image_container .dropdown-menu{
	min-width: 90px;
	left: -7px;
}
