@media print {
    .main-footer{
        display: none;
    }
    .page-two .buttons{
        display: none;
    }
    .main-sidebar, .left-side{
        width: 0px;
    }
    .print {
        display: none !important;
    }
}