.classes div{
    background:#fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    height:155px;
    text-align: center;
    margin: 15px 0;
    padding: 40px 0;
    transition: 0.5s all ease-in-out;
}

.classes div:hover{
    cursor: pointer;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
}

.classes a,.classes a:hover{
    color:#000;
    text-decoration: none;
}

.classes div h4,.classes div h5{
    font-family: arial;
}


.classes div .fa{
    font-size:24px;
}
.banner{
    padding:25px 0;
}
.page-one .header{
    text-align: center;
}

.page-one .header .btn{
    float:left;
}

.page-one .page-one-content .first{
    background:#fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 15px 0;
    padding:40px 15px;
    transition: 0.5s all ease-in-out;
}

.page-one .page-one-content .first:hover{
    cursor: pointer;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
}

.page-one .page-one-content a,.page-one .page-one-content a:hover{
    color:#000;
    text-decoration: none;
}
.page-two{
    padding:25px 0;
}

.page-two table tr td a,.page-two table tr td a:hover{
    color:#fff;
}

.page-two table tr td p{
    display: inline-block;
    float: left;

}

.page-two table tr td .fa-pencil{
    background: #5cb85c;
    padding: 3px;
    border-radius:2px;
    margin:0 2px;
}

.page-two table tr td .fa-trash-o{
    background: #d9534f;
    padding: 3px;
    border-radius:2px;
    margin:0 2px;
}

.page-two table tr .name{
    color:#000;
}

.page-two table tr .name:hover{
    text-decoration: underline;
    color:#000;
}
.mails h3{
    margin-top: 30px;
}

.mails .mail-box{
    margin:58px 0;
}

.mails .mail-box textarea{
    width:100%;
    height:300px;
    border-radius: 4px;
    padding: 6px 12px;
    resize:none;
    border: 1px solid #ccc;
}
.result-class-select h2,.result-class-select h3{
    text-align: center;
}

.result-form{
    padding:10px 0 30px;
}

.result-form h4{
    font-weight: 600;
}

.result-form form .form-group label{
    text-align: left;
}

.result-form h2{
    text-align: center;
    margin-bottom:30px;
}

.result-form h4{
    margin-bottom:30px;
}

.result-form .form-group{
    float:left;
    width:100%;
}

.result-form .date input{
    width:100%;
}

.result-form .name select{
    width:100%;
}

.result-form .form-group .subject{
    padding:0;
    height:85px;
    display: table;
}

.result-form .form-group .subject label{
    display: table-cell;
    vertical-align: middle;
}

.result-form .form-group .full-marks{
    padding-left:0;
}

.result-form .form-group .full-marks input{
    text-indent: 12px;
}

.result-form .form-group .pass-marks{
    padding-left:0;
}

.result-form .form-group .obtained-marks{
    padding-left:0;
}

.result-form .form-group .grade{
    padding:0;
}

.result-form form .total,.result-form form .percentage,.result-form form .total-grade,.result-form form .gpa{
    width:16.7%;
    padding:0;

}

.result-form form .total label,.result-form form .percentage label,.result-form form .total-grade label,.result-form form .gpa label{
    padding:0;
}

.result-form form .total div,.result-form form .percentage div,.result-form form .total-grade div,.result-form form .gpa div{
    padding:0;
}

.result-form .form-group .full-marks  input,.result-form .form-group .pass-marks input,.result-form .form-group .obtained-marks input{
    width:40%;
}

.result-form .total input,.result-form .percentage input,.result-form .total-grade input,.result-form .gpa input{
    width:40%;
}

.result-form .result-status{
    padding:0;
}

.result-form .result-status input{
    width:50%;
}


.result-form .remarks{
    padding:0;
    margin-top: 20px;
}

.result-form .remarks textarea{
    width:90%;
    resize:none;
    height:200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.result-form .status{
    margin-top: 20px;
}

.result-form .status select{
    width:8%;
}

.result-form .btn-default{
    margin-top:20px;
}

.page-two .checkbox input[type="checkbox"], .page-two .checkbox-inline input[type="checkbox"] {
    margin-left: 22px;
    margin-top: 0px;
    height: 18px;
    width: 18px;
    position: initial;
    cursor: pointer;
}
.company p span{
    padding-left: 10px;
    font-size: 18px;
}
.company p span img{
    height:200px;
    width:250px;
}




